<h2>Your Albums</h2>
<h3>Logged in as {{user.username}}</h3>
{{#each album as |a|}}
<div>
<a href="/album/{{a.slug}}">{{a.name}}</a>
</div>
{{/each}}
<a href="/albumCreate">create new album</a><br>
<a href="/albumSearch">Search Albums by Name</a>