<h2>This is the Photo Album Homepage!</h2>
<p>Please login to view your albums and photos 🤓</p>
<form id="loginForm" method="POST" action="">
    Username: <input type="text" name="loginUsername">
    Password: <input type="text" name="loginPassword">
	<input type="submit" value="login">	
</form>
<p>Don't have an account? Please register!</p>
<a href="/register">Register My Account</a>	