<h2>This is the Photo Album Homepage!</h2>
<p>Please login to view your albums and photos 🤓</p>
<form id="loginForm" method="POST" action="">
    Username: <input type="text" name="username">
    Password: <input type="text" name="password">
	<input type="submit" value="login">	
</form>
{{#if error}}
<p style="color: red;">There's a problem when logging in your account, please try again!</p>
<p style="color: red;">Problem Descriptions: {{error}}</p>
{{/if}}
<p>Don't have an account? Please register!</p>
<a href="/register">Register My Account</a>	