<h2>This is the Photo Album Homepage!</h2>
<p>Please login to view your albums and photos 🤓</p>
<form id="loginForm" method="POST" action="">
    Username: <input type="text" name="photoName">
    Password: <input type="text" name="photoUrl">
	<input type="submit" value="login">	
</form>
<p>Don't have an account? Please register!</p>
<input type="submit" value="register">	